#header-home {
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-75deg, #efeecf 54%, #ae8d7c 100%);

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1.5s;
    &:hover {
      transition: 1.5s;
      transform: rotateY(150deg);
    }

    img {
      cursor: pointer;
      height: 8rem;
      width: 13rem;
    }
  }

  article {
    display: flex;
    gap: 4rem;
    .header-buttons {
      font-family: "pixel", sans-serif;
      font-size: 2rem;
      color: #551a8b;
    }
  }
}
