@font-face {
  font-family: 'pixel';
  src: url('../resources/pixel.ttf');
}

@font-face {
  font-family: 'arcade';
  src: url('../resources/arcade.ttf');
}

@font-face {
  font-family: 'heart';
  src: url('../resources/heart.otf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  body {
    min-height: 100vh;
    max-width: 100vw; 
    background-color: #222;
  }
}