.section.home {
  height: 56rem;
  width: 100%;
  overflow: hidden;
  background-image: url(/public/section-home-end.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  .mother {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    h1 {
      font-family: 'arcade';
      font-size: 7.5rem;
      background: linear-gradient(to right, #11332a, #002b1e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 0px rgba(255, 215, 0, 0.6),
        0 0 16px rgba(255, 215, 0, 0.6), 0 0 0px rgba(255, 215, 0, 0.6);
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .child-1 {
        height: 29.4rem;
        width: 40.4rem;

        img {
          height: 26.5rem;
          width: 40rem;
        }

        p {
          font-family: "pixel", sans-serif;
          font-size: 1.4rem;
          font-weight: bold;
          text-align: center;
          color: #cd1515;
        }
      }

      .child-2 {
        height: 29.4rem;
        width: 40.4rem;

        img {
          height: 26.5rem;
          width: 40rem;
        }

        p {
          font-family: "pixel", sans-serif;
          font-size: 1.4rem;
          font-weight: bold;
          text-align: center;
          color: #cd1515;
        }
      }
    }

    .child-3 {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: none;
      }

      p {
        font-family: "pixel", sans-serif;
        font-size: 1.55rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .section.home {
    height: 100%;
    padding: 1.3rem;
    .mother {
      figure {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .mother {
      h1 {
        font-size: 2.3rem;
      }
    }
  }
}

@media screen and (max-width: 478px) {
  .section.home {
    .mother {
      gap: 2rem;
      h1 {
        font-size: 2.3rem;
      }

      figure {
        .child-1 {
          width: 32rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            font-size: 1.1rem;
          }
        }

        .child-2 {
          width: 33rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
