.section-playgame {
    height: 55rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    background-image: url(../resources/img-playgame.png);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    
    h1 {
        color: black;
        font-family: 'arcade', sans-serif;
        font-size: 6.5rem;
    }
}