.section.home {
  height: 56rem;
  width: 100%;
  overflow: hidden;
  background-image: url(/public/home/background-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  .container-mother {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 17rem;
    padding: 2rem;

    h1 {
      font-family: "arcade";
      font-size: 7.5rem;
      background: linear-gradient(to right, #11332a, #002b1e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 0px rgba(255, 215, 0, 0.6),
        0 0 16px rgba(255, 215, 0, 0.6), 0 0 0px rgba(255, 215, 0, 0.6);
    }

    figure {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      img {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      #app-store {
        height: 5rem;
        width: 14rem;
      }

      #epic-games {
        height: 5rem;
        width: 5rem;
      }

      #steam {
        height: 5rem;
        width: 5rem;
      }

      #play-store {
        height: 5rem;
        width: 14rem;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .section.home {
    .container-mother {
      figure {
        gap: 1rem;

        #app-store {
          height: 4rem;
          width: 13rem;
        }

        #epic-games {
          height: 4rem;
          width: 4rem;
        }

        #steam {
          height: 4rem;
          width: 4rem;
        }

        #play-store {
          height: 4rem;
          width: 13rem;
        }
      }
    }
  }
}